.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/demo1-simple-server/temp
*.pdf

/demo7-compress-image/source
/demo7-compress-image/dist
/demo10-image-min/source
/demo10-image-min/dist
/demo11-web/dist
/demo11-web/source
